In [7]:
import pandas as pd
meteorite_data = pd.read_csv("https://data.nasa.gov/api/views/gh4g-9sfh/rows.csv?accessType=DOWNLOAD")
meteorite_data.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.16667, -64.95)"

In [13]:
meteorite_data_sorted = meteorite_data.sort_values("mass (g)", ascending = True)

meteorite_data_sorted

In [16]:
meteorite_data_sorted.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
31063,Österplana 050,56149,Relict,Relict OC,0.0,Found,2003.0,58.58333,13.43333,"(58.58333, 13.43333)"
31062,Österplana 049,56148,Relict,Relict OC,0.0,Found,2012.0,58.58333,13.43333,"(58.58333, 13.43333)"
31075,Österplana 062,56161,Relict,Relict OC,0.0,Found,2010.0,58.58333,13.43333,"(58.58333, 13.43333)"
12640,Gove,52859,Relict,Relict iron,0.0,Found,1979.0,-12.26333,136.83833,"(-12.26333, 136.83833)"
31064,Österplana 051,56150,Relict,Relict OC,0.0,Found,2006.0,58.58333,13.43333,"(58.58333, 13.43333)"